<template>
  <div v-html="htmldetail"></div>
</template>

<script>
export default {
  data: () => {
    return {
      htmldetail: ''
    }
  },
  created: () => {
    console.log('123')
  }
}
</script>

<style>

</style>
