<template>
  <b-col cols="12" sm="12" md="6">
    <router-link :to="'/detail/'+item.id" class="promotion-news">
      <b-row>
        <b-col>
          <b-img :src="item.images[0]" fluid class="pt-2"></b-img>
        </b-col>
      </b-row>
      <b-row class="m-0" v-if="item.images.length >= 4">
        <b-col class="p-0">
          <b-img :src="item.images[1]" fluid ></b-img>
        </b-col>
        <b-col class="p-0">
          <b-img :src="item.images[2]" fluid ></b-img>
        </b-col>
        <b-col class="p-0">
          <b-img :src="item.images[3]" fluid ></b-img>
          <div class="over-img" v-if="item.images.length > 4"></div>
          <p class="text-over-img" v-if="item.images.length > 4">
            + {{item.images.length - 3}}
          </p>
        </b-col>
      </b-row>
      <b-col cols="12" sm="12" class="p-0 pt-2">
        <h5 class="text-left">{{item.title}}</h5>
      </b-col>
      <b-col cols="12" sm="12" class="p-0">
        <p class="subtitle pb-1" v-if="item.subtitle!=''">{{item.subtitle}}</p>
      </b-col>
    </router-link>
    <b-row class="text-center">
      <b-col cols="8" style="font-size:0.7rem;">
        <b-row>
          <b-col cols="12" sm="12">
            <span class="icon pr-2"><font-awesome-icon icon="calendar" /></span>
            <span class="date-promotion">{{item.promotionlength}}</span>
            <span class="icon pl-2 pr-2"><font-awesome-icon icon="users" /></span>
            <span class="viewer">Views : {{item.view_count}}</span>
          </b-col>
          <b-col cols="12" sm="12" class="text-left">
            <b-badge v-for="badge in item.tags" v-bind:key="badge.name" :variant="badge.type">{{badge.name}}</b-badge>
          </b-col>
        </b-row>
      </b-col>
      <b-col cols="4">
        <b-button variant="danger" style="width:100%;" v-on:click="$emit('sendmsg', item.message)">สอบถาม <font-awesome-icon icon="comments" class="pr-1"/></b-button>
      </b-col>
    </b-row>
  </b-col>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  props: {
    item: Object
  },
  created: function () {
  },
  methods: {
  }
}
</script>

<style>
h5{
  font-size: 1.0rem!important;
}
a.promotion-news{
  color: rgb(80, 80, 80);
}
a.promotion-news:hover{
  text-decoration: none;
  color: rgb(80, 80, 80);
}
.promotion-news img{
}
.promotion-news span{
  font-size: 0.7rem;
  text-align: center;
}
.subtitle{
  font-size: 0.8rem;
  color: #888888;
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.3em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
}
.over-img{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.7);
}
.text-over-img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
</style>
