<template>
  <b-container>
    <h1 class="title text-center pt-2">Catalogs Showcase: v6</h1>
    <b-row>
      <b-button @click="openWindow()" class="btn btn-primary">Open Window</b-button>
      <b-button @click="closeWindow()" class="btn btn-info">Close Window</b-button>
      <b-button @click="sendMessage('Test Send Message')" class="btn btn-success">Send Message</b-button>
    </b-row>
    <b-row class="pb-4">
      <PromotionHead v-for="item in promotionlists" :key="item.id" :item="item" v-on:sendmsg="sendMessage"/>
    </b-row>
  </b-container>
</template>
<script src="https://d.line-scdn.net/liff/1.0/sdk.js"></script>
<script>
import PromotionHead from './promotion/Head'
const liff = window.liff
export default {
  name: 'home',
  components: {
    PromotionHead
  },
  data: () => ({
    profile: {
      userId: '',
      displayName: '',
      pictureUrl: '',
      statusMessage: ''
    },
    promotionlists: [{
      id: 1,
      images: ['//static0.central.co.th/static/banner/20181101_instore_anniversary.jpg', '//static0.central.co.th/static/banner/20181101_instore_baby.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg', '//static0.central.co.th/static/banner/20181011_instore_sweetdream.jpg', '//static0.central.co.th/static/banner/20181101_instore_anniversary.jpg', '//static0.central.co.th/static/banner/20181011_instore_sweetdream.jpg'],
      title: 'CENTRAL | ZEN ANNIVERSARY 2018',
      subtitle: 'ขยายเวลาเพิ่มอีก 1 วัน! 6 พ.ย. นี้โอกาสสุดท้ายที่คุณจะได้สัมผัสที่สุดของงานดอกไม้แห่งปีท่ามกลางดอกไม้สดนับล้านดอก แทนคำขอบคุณกับกุหลาบสายพันธุ์ยุโรปหาชมยาก! รายล้อมเรือนกาซิโบยักษ์ สูง 7 เมตร!!!',
      promotionlength: '1 Nov - 21 Nov, 2018',
      dateadd: '2018-11-07 13:55:00',
      view_count: 856,
      tags: [{
        name: 'promotion',
        type: 'danger'
      }],
      message: 'สนใจ CENTRAL | ZEN ANNIVERSARY 2018'
    },
    {
      id: 2,
      images: ['//static0.central.co.th/static/banner/20181101_instore_baby.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg', '//static0.central.co.th/static/banner/20181101_instore_anniversary.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg', '//static0.central.co.th/static/banner/20181011_instore_sweetdream.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg'],
      title: 'CENTRAL | ZEN BABY TIME',
      subtitle: '',
      promotionlength: '25 Oct - 20 Nov, 2018',
      dateadd: '2018-11-07 13:55:00',
      view_count: 157,
      tags: [{
        name: 'info',
        type: 'info'
      }],
      message: 'สนใจ CENTRAL | ZEN BABY TIME'
    },
    {
      id: 3,
      images: ['//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg', '//static0.central.co.th/static/banner/20181101_instore_anniversary.jpg', '//static0.central.co.th/static/banner/20181011_instore_sweetdream.jpg', '//static0.central.co.th/static/banner/20181101_instore_baby.jpg', '//static0.central.co.th/static/banner/20181101_instore_anniversary.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg', '//static0.central.co.th/static/banner/20181101_instore_baby.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg'],
      title: 'BEAUTY GALERIE PRESENTS BEAUT BONUS',
      subtitle: '*เฉพาะสินค้าที่ร่วมรายการ, ช้อปภายในวันและสาขาเดียวกัน, เงื่อนไขการแลกและรับคะแนนเป็นไปตามข้อกำหนดของ The 1, สงวนสิทธิ์ในการเปลี่ยนแปลงของสมนาคุณโดยไม่แจ้งให้ทราบล่วงหน้า, โปรดตรวจสอบเงื่อนไขเพิ่มเติม ณ จุดขายและสื่ออื่นๆของแต่ละบริษัทหรือธนาคาร',
      promotionlength: '25 Oct - 13 Jan, 2019',
      dateadd: '2018-11-07 13:55:00',
      view_count: 2990,
      tags: [{
        name: 'campaign',
        type: 'primary'
      }],
      message: 'สนใจ BEAUTY GALERIE PRESENTS BEAUT BONUS'
    },
    {
      id: 4,
      images: ['//static0.central.co.th/static/banner/20181011_instore_sweetdream.jpg', '//static0.central.co.th/static/banner/20181101_instore_anniversary.jpg', '//static0.central.co.th/static/banner/20181101_instore_baby.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg', '//static0.central.co.th/static/banner/20181025_instore_beautybonus.jpg'],
      title: 'CENTRAL | ZEN SWEET DREAMS',
      subtitle: '',
      promotionlength: '1 Oct - 31 Dec, 2018',
      dateadd: '2018-11-07 13:55:00',
      view_count: 385,
      tags: [{
        name: 'news',
        type: 'secondary'
      }],
      message: 'สนใจ CENTRAL | ZEN SWEET DREAMS'
    }]
  }),
  methods: {
    openWindow () {
      this.$liff.openWindow({
        url: 'https://developers.line.me/en/docs/liff/overview/'
      })
    },
    closeWindow () {
      this.$liff.closeWindow()
    },
    // sendMessage () {
    //   this.$liff.sendMessages([
    //     {
    //       type: 'text',
    //       text: 'You/\'ve successfully sent a message! Hooray!'
    //     },
    //     {
    //       type: 'sticker',
    //       packageId: '2',
    //       stickerId: '144'
    //     }
    //   ]).then(function () {
    //     window.alert('Message sent')
    //   }).catch(function (error) {
    //     window.alert('Error sending message: ' + error)
    //   })
    // },
    getProfile () {
      let _this = this
      this.$liff.getProfile().then(function (profile) {
        _this.profile = profile
      }).catch(function (error) {
        alert('Error getting profile: ' + error)
      })
    },
    sendMessage (msg) {
      window.alert(msg)
      liff.sendMessages([
        {
          type: 'text',
          text: msg
        }
      ]).then(function () {
        console.log('Message sent')
      }).catch(function (error) {
        console.log('Error sending message: ' + error)
      })
    }
  }
}
</script>
<style>
.container{
  text-align: left;
}
h1
{
  font-size: 1.5rem!important;
}
</style>
